.node {
    fill: #6699CC;
    stroke: #ffffff;
    stroke-width: 1.5px;
}

.link {
    stroke: #454545;
    stroke-opacity: 0.6;
    stroke-width: 0.6px;
}

.tophalfcontainer {
    display: flex;
    justify-content: start;   /* align items to the start, i.e., left side */
    align-items: start;       /* align items to the top */
}

#network {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;  /* a light background */
}

#graphContainer {
    position: relative;
    width: 0px; /* dimensions set by visualnetwork.js */
    height: 0px;
    background-color: transparent; /* temporary background color */
}

#agario {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;  /* a light background */
    margin-right: 4px;
    margin-left: 4px;
}

#graphTitle {
    text-align: center;
}

/* Button Container */
.button-container {
    position: absolute;
    display: flex;
    /*justify-content: center;*/ /*Decides the button's horizontal position*/
    left: 553px;
    top: 516px;
    justify-content: left
}

#creditsButton {
    background-color: grey;
}

#resetButton {
    background-color: red;
}

/* Button Styles */
.graph-button {
    background-color: #6699CC;
    flex: 1;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin: 0 3px; /* Space between buttons */
    padding: 5px 10px; /* Button padding */
    transition: background-color 0.3s ease; /* Smooth color transition */
}

.graph-button:hover {
    background-color: #4a7aa6; /* Darker shade for hover effect */
}

.graph-button:active {
    background-color: #3c6889; /* Even darker shade for active/click effect */
}

.dropdown-container {
    width: 250px;
    font-family: Arial, sans-serif;
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 7px;
    background-color: #ffffff;  /* Pure white background */
}

.dropdown-title {
    font-size: 12px;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
    color: #555;
    letter-spacing: 0.5px; /* Light letter-spacing for elegance */
}

.select-container {
    position: relative;
}

#connectionSetup {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #ddd;  /* Lighter border color */
    border-radius: 7px;
    background-color: #ffffff;  /* Light grayish background for contrast */
    color: #555;
    transition: background-color 0.3s, border 0.3s; /* Smooth transitions */
}

/* Hide default dropdown arrow for IE/Edge */
#connectionSetup::-ms-expand {
    display: none;
}
#connectionSetup:focus {
    outline: none;
}

/* Custom dropdown arrow */
.select-container::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 10px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6"><path d="M0 0L10 0L5 6z" fill="%23777"/></svg>');
    pointer-events: none;
}

.slider-container {
    width: 250px;
    height: 70px;
    font-family: Arial, sans-serif;
    position: relative;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 5px;
}

.slider-title {
    font-size: 12px;
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
    color: #555;
    letter-spacing: 0.5px; /* Light letter-spacing for elegance */
}

.slider-value {
    font-size: 12px;
    position: absolute;
    top: 6px;
    right: 10px;
    color: #555;
}

.slider {
    /* width: 90%; */
    width: 230px;
    left: 9px;
    margin: 0 auto;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #E0E0E0;
    height: 3px;
    border-radius: 3px;
    outline: none;
    border: none;
    position: absolute;
    top: 40px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #555;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #555;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
}

/*KEY STYLING*/
#keyButton {
    font-size: 13px;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px; 
    padding: 5px 10px;
    cursor: pointer;
    z-index: 0;  /* This ensures the button is layered above the graph*/
    outline:none;
}
#keyButton:hover {
    background-color: #eaeaea; /* Slightly lighter shade on hover */
}

#legend {
    font-size: 13px;
    display: none;
    position: absolute;
    top: 38px;  /* Placed below the button*/
    right: 8px;
    width: 165px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 3px; 
    padding: 10px;
    z-index: 9;  /* Below the button, but still above the graph*/
}

#ui-popup {
    display: none;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px;
    position: relative;
    left: 50;
    top: 50;
}

#node-info { /*This is for the node popup box*/
    font-size: 12px;
    padding-right: 10px;  /* Adjust this value to your desired padding */
    padding-left: 3px;
    margin: 0px 0px;
}


.close-button {
    position: absolute;
    top: 5px;
    right: 3px;
    background: none;
    border: none;
    font-size: 0.7em;
    cursor: pointer;
}

.close-button:hover {
    color: #999;  /* Light gray when hovered */
}

#closeButton:focus {
    outline: none;
}

#arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    --arrowlength: 10px;
    --color: #909090;
}

[data-popper-placement^="top"] > #arrow {
    border-width: var(--arrowlength) var(--arrowlength) 0 var(--arrowlength);
    border-color: var(--color) transparent transparent transparent;
    bottom: calc(-1 * var(--arrowlength));
}

[data-popper-placement^="bottom"] > #arrow {
    border-width: 0 var(--arrowlength) var(--arrowlength) var(--arrowlength);
    border-color: transparent transparent var(--color) transparent;
    top: calc(-1 * var(--arrowlength));
}

[data-popper-placement^="left"] > #arrow {
    border-width: var(--arrowlength) 0 var(--arrowlength) var(--arrowlength);
    border-color: transparent transparent transparent var(--color);
    right: calc(-1 * var(--arrowlength));
}

[data-popper-placement^="right"] > #arrow {
    border-width: var(--arrowlength) var(--arrowlength) var(--arrowlength) 0;
    border-color: transparent var(--color) transparent transparent;
    left: calc(-1 * var(--arrowlength));
}

.timeController {
    width: 200px;
    height: 110px;
    font-family: Arial, sans-serif;

    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 7px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4px 0;

    position: relative;
    left:515px;
}

.time-title {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 6px; /* Space between the title and date display */
}

.date-display {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: center;
    color: #555;
    letter-spacing: 0.5px;
    border: 1.5px solid #a9a9a9;
    width: 180px;
    height: 29px;
    border-radius: 4px;
    margin-bottom: 8px;
    align-items: center;
}

.date-prefix {
    margin-right: 3px;
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 100px;
    overflow: hidden;  /* To apply border radius to inner buttons */
    margin-bottom: 5px;
}

.time-btn {
    background: none;
    border: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
    width: 33.33%; /* Split into thirds */
    padding: 5px 0;
    text-align: center;
    transform: translateY(-1px);
}

.time-btn img {
    vertical-align: middle;
}


.time-btn:hover {
    background-color: #eaeaea;
}

.time-btn:focus {
    outline: none;
}

/* For the middle button which should be rectangular */
#playPauseBtn {
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
}


.digit-display {
    width: 125px;
    font-family: Arial, sans-serif;
    position: relative;
    border: 1px solid #ccc;
    padding: 10px 0px;
    border-radius: 7px;
    background-color: #ffffff;  /* Pure white background */
    margin: 10px 0; /* Spacing from other elements */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.digit-title-container {
    display: flex;
    align-items: center; /* This ensures vertical alignment */
    padding-bottom: 5px;
}

.digit-title {
    font-size: 10px;
    font-weight: bold;
    color: #555;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 6px;
    margin: 0;         /* Reset margin */
    padding: 0px 0px;        /* Reset padding */
    line-height: 1;  
}

.digit-value {
    font-size: 10px;
    font-weight: bold;
    color: #555; /* Picking up the color from nodes for consistency */
    letter-spacing: 0.5px;
    text-align: center;
    border: 1.5px solid #a9a9a9; /* Adding a border with the same color for consistency */
    padding: 5px 5px; /* Adding some padding for spacing */
    border-radius: 5px; /* Making the corners slightly rounded */

    /* Flexbox properties to center the content */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* to take full height of parent */
}


.question-btn {
    margin-left: 3px; /* Gives a little space between the title and button */
    width: 15px;
    height: 15px;
    background-color: grey;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.3s background-color;
}
.question-btn:focus{
    outline: none;
}

.inline-container {
    display: flex;
    align-items: center; 
    /* justify-content: space-between; */
}

#pareto-container {
    top:-20px;
    left:10px;
}

#gini-container {
    top:55px;
    left:160px;
}

#reserves-container {
    top:-20px;
    left:220px;
}

.advanced-sliders {
    display: none;
    transition: max-height 0.3s ease; /* Animation for expanding and collapsing */
    overflow: hidden;
    max-height: 0;
}

.slider-container.expanded .advanced-sliders {
    display: block;
    max-height: 500px; /* Adjust this value based on the content's height */
}

#hidden-text-1 {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #555;
    letter-spacing: 0.5px;
    position:absolute;
    display: none;
    width:200px;
}

#hidden-text-2 {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #555;
    letter-spacing: 0.5px;
    position:absolute;
    display: none;
    width:200px;
}

.toggleAdvanced {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    border: 1px solid #a9a9a9; /* Light border */
    color: #555; /* Dark gray text */
    font-size: 9px; /* Font size to match other elements */
    padding: 4px 9px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Hand cursor on hover */
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%);
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.toggleAdvanced:focus {
    outline:none;
}

@font-face {
    font-family: 'Old English Text MT'; /* You can name it whatever you want */
    src: url('fonts/Old\ English\ Text\ MT.ttf') format('truetype'); /* Path should point to the location of your uploaded TTF file */
}

#newspaper {
    position: relative;  /* Position it relative to the parent or viewport */
    width: 200px;
    height: 200px;
    margin-left: 4px;
    background-color: #fefefe;  /* a light background */
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;   /* In case you add content later, it won't spill over */
    user-select: none;          /* Standard syntax */
    -webkit-user-select: none;  /* Chrome, Safari, and Opera */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

#banner {
    position: relative; /* To position the pseudo-elements relative to #banner */
    padding: 0px 0; /* Some padding to ensure space for the lines */
    margin-top: 28px;
}

#newspaperTitle {
    color: #8C1515;
    font-family: 'Old English Text MT';
    font-size: 30px;
    text-align: center;
    margin: 2px;
    position: relative; /* Added to position title relative to its container */
    z-index: 1; /* To ensure it stays above the horizontal bars */
    top:5px;
}


#veryTopText {
    position:absolute;
    left:10px;
    top: 4px;
    font-family: Arial, sans-serif;
    font-size:8px;
    white-space: pre;
    display: flex;  
    justify-content: space-between;
}

.bi-person {
    position: absolute;
    margin-left: 3px;
    font-size: 12px;
    top:-3px;
    left:364px;
}

.bi-list {
    position: absolute;
    margin-left: 3px;
    font-size: 16px;
    top:-1px;
    left:5px;
}

.login-container {
    margin-left: 260px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.horizontal-bar {
    width: 95%;  
    height: 1px;  
    background-color: lightgrey;
    margin: 6px auto;  /* Negative margin will push the bars closer to the text */
    z-index: 0; /* To ensure the bars stay behind the title */
}

#firstbar {
    margin: -10px auto;
}

#login {
    position:absolute;
    left:330px;
    top: -20px;
    font-family: Arial, sans-serif;
    font-size:8px;
    white-space: pre;
}

#searchBar {
    border: 0.8px solid lightgrey; /* 2px solid black border */
    width: 60px; /* Example width, adjust as needed */
    height: 15px; /* Example height, adjust as needed */
    margin: 10px 0; /* Adds a margin above and below the box for spacing */
    border-radius: 3px; /* This will make the box slightly rounded */
    position:absolute;
    top:13px;
    left:10px;
}

.bi-search {
    position: absolute;
    color: #aaa;
    font-size: 8px;
    top:1.2px;
    left:5px;
}

#searchtext {
    color: #aaa;
    font-size: 8px;
    position: absolute;
    left:16px;
    top:1px;
}

#subscribeButton {
    border: 1.2px solid #8C1515;
    width: 52px; /* Example width, adjust as needed */
    height: 15px;
    position:absolute;
    top:6px;
    left:338px;
    border-radius: 3px;
}

#subscribeText{
    font-size: 8px;
    color: #8C1515;
    font-weight: 500;
    position: absolute;
    left:8px;
}

#donateButton {
    border: 1.2px solid lightgrey;
    width: 52px; /* Example width, adjust as needed */
    height: 15px;
    position:absolute;
    top:24px;
    left:338px;
    border-radius: 3px;
}

#donateText {
    font-size: 8px;
    color: #acacac;
    font-weight: 500;
    position: absolute;
    left:12px;
}

.black-bar {
    background-color: black; /* This will override any background-color set in .horizontal-bar */
    margin: 1.5px auto;
}

#toolbar {
    margin-top: -4px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;    /* Center children horizontally */
    justify-content: center;/* Center children vertically */
    height: 19px;          /* Or whatever height you want for the div */
}

#toolbarText {
    font-family: Arial, sans-serif;
    font-size:8px;
    white-space: pre;
    margin:0px;
}